/* ===== PÁGINA ===== */

.darts-page {
  min-height: 100vh;

  transition: .4s;

  padding: 12px;
}

/* ===== CONTAINER ===== */

.darts-game-container {
  display: flex;
  flex-direction: column;

  gap: 14px;
}

/* ===== PLACAR ===== */

.darts-scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 12px;
}

.darts-score-card {
  background: rgba(255,255,255,.08);

  border: 1px solid rgba(255,255,255,.25);

  border-radius: 18px;

  padding: 10px;

  text-align: center;
}

.darts-score-name {
  color: white;

  font-size: .9rem;
  font-weight: 700;

  margin-bottom: 5px;
}

.darts-score-num {
  color: white;

  font-size: 4rem;
  font-weight: 800;

  line-height: 1;
}

/* ===== CARD TURNO ===== */

.darts-turn-info {
  background: rgba(255,255,255,.08);

  border: 1px solid rgba(255,255,255,.20);

  border-radius: 20px;

  text-align: center;

  padding: 18px;
}

.darts-turn-text {
  color: rgba(255,255,255,.8);

  font-size: .95rem;
  font-weight: 600;
}

.darts-turn-score {
  color: #18a35e;

  font-size: 4rem;
  font-weight: 800;

  margin: 10px 0;
}

.darts-text-bust {
  color: #ff4d4d;
}

/* ===== BOLINHAS ===== */

.darts-dots-row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.darts-dot {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  border: 1px solid rgba(255,255,255,.5);
}

.darts-dot-active {
  background: white;
}

/* ===== MULTIPLICADOR ===== */

.darts-mult-row {
  display: grid;
  grid-template-columns: repeat(3,1fr);

  gap: 10px;
}

.darts-mult-btn {
  height: 44px;

  border-radius: 8px;

  border: 1px solid rgba(255,255,255,.3);

  background: rgba(0,0,0,.15);

  color: white;

  font-size: .9rem;
  font-weight: 700;
}

.darts-mult-active {
  background: rgba(255,255,255,.15);
}

/* ===== NÚMEROS ===== */

.darts-grid-numbers {
  display: grid;

  grid-template-columns: repeat(5,1fr);

  gap: 10px;
}

.darts-num-btn {
  height: 42px;

  border-radius: 8px;

  border: 1px solid rgba(255,255,255,.3);

  background: rgba(0,0,0,.15);

  color: white;

  font-size: 1rem;
  font-weight: 700;
}

/* ===== ESPECIAIS ===== */

.darts-special-row {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 10px;
}

.darts-special-btn {
  height: 42px;

  border-radius: 8px;

  border: 1px solid rgba(255,255,255,.3);

  background: rgba(0,0,0,.15);

  color: white;

  font-weight: 700;
}

.darts-miss-btn {
  grid-column: span 2;

  background: rgba(0,0,0,.25);
}

/* ===== PRÓXIMO ===== */

.darts-next-btn {
  height: 55px;

  border: none;

  border-radius: 12px;

  background: #00c853;

  color: white;

  font-size: 1.1rem;
  font-weight: 700;
}

/* ===== RESET ===== */

.darts-footer {
  text-align: center;
}

.darts-link-btn {
  background: none;
  border: none;

  color: rgba(255,255,255,.7);

  font-size: .8rem;
}