.darts-overlay {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 25px;

  padding: 20px;
}

.darts-victory-icon {
  font-size: 7rem;
}

.darts-victory-title {
  color: white;

  text-align: center;

  font-size: clamp(2rem, 10vw, 4rem);

  font-weight: 700;
}

.darts-big-btn {
  width: 100%;
  max-width: 300px;

  height: 70px;

  border-radius: 18px;

  border: 2px solid #9e8700;

  background: rgba(255,255,255,.05);

  color: white;

  font-size: 1.4rem;
}